html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("https://images.pexels.com/photos/4968384/pexels-photo-4968384.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */

nav {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

nav a {
    color: white;
}

nav a:hover {
    color: black;
}

nav .navbar-brand {
    color: white;
}

nav .navbar-brand:hover {
    color: black;
}
.navbar
/* Nav hover*/
.navbar-collapse {
    justify-content: flex-end;
}
.navbar-brand:hover {
    color:darkgray !important;
}
#register:hover {
    color: darkgray !important;
}
#login:hover {
    color: darkgray !important;
}
/* Footer */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    height:10%;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #ccc;
}
/* Login */
.card login-logout-tab {
    background-color: rgba(0, 0, 0, 0.8);
}