@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-dark">
    <h1 class="display-4">Welcome in BudgetApp</h1>
    <h2 class="display-6">Login or Register too see Your Transactions!</h2>
</div>
